# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName donghoomega.vn
AuthUserFile /home/donghoom/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/donghoom/public_html/_vti_pvt/service.grp
